<app-header></app-header>

<div class="container">
  <div class="row justify-content-center mb-3">
    <div class="col-12" style="max-width: 1200px;">
      <a href="#">&lt; Back to Inbox</a>
      <h1 class="heading1">Message details</h1>
      <willow-button variant="primary">Reply</willow-button>
      <willow-button variant="tertiary">Archive</willow-button>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12" style="max-width: 1200px;">
      <div class="p-4" style="background: #ffffff;">
        <willow-threaded-messages-list [messages]="threadedMessages"></willow-threaded-messages-list>
      </div>
    </div>
  </div>
</div>
