<article class="member-details-card">
  <div class="details-grid">
    <div class="detail-item"><span class="label">Member</span></div>
    <div class="detail-item"><span class="label">Service Details</span></div>
    <div class="detail-item"><span class="label">Contact</span></div>
    <div class="detail-item"><span>Date of birth: 09/28/1999</span></div>
    <div class="detail-item"><span>Date of service: N/A</span></div>
    <div class="detail-item"><span>Contact name: First Last</span></div>
    <div class="detail-item"><span>Message regarding: Adam Cross</span></div>
    <div class="detail-item"><span>Claim number:  N/A</span></div>
    <div class="detail-item"><span>Contact Phone number: ###-###-####</span></div>
    <div class="detail-item"><span>Member ID: W000000000</span></div>
    <div class="detail-item"><span>Provider: N/A</span></div>
    <div class="detail-item"><span>Contact Email: Test&#64;Wellmark.com</span></div>
    <div class="detail-item"><span>Patient account number: 123456789</span></div>
  </div>
</article> 